.ingredients{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ingredients_img{
    border: 2px solid grey;
    border-radius: 50%;
}

.ingredients_heading{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .ingredients {
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
    }

    .ingredients_img {
        margin-bottom: 10px; 
    }

    .ingredients_heading {
        font-size: 18px;
        margin-bottom: 3rem; 
    }
}
